.slider {
    background: #eee;
    padding: 20px;
    text-align: center;
}
.container {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    background: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;

}
h1,h2{
    color: #111;
}
a{
    color: #0073aa;
    text-decoration: underline;
}
article{
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
article:last-child{
    border-bottom: none;
}
.movie-thumbnail{
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}
p{
    line-height: 1.6;
}
.wp-post-image{
    max-width: 100%;
    height: auto;
    display: block;
}